In [2]:
import pandas as pd
import numpy as np

In [4]:
print(pd.__version__)
print(np.__version__)

1.3.4
1.20.3

In [9]:
n_rows = 10 
n_cols = 1
cols = ('usia',)
df= pd.DataFrame(np.random.randint(1, 99, size=(n_rows, n_cols)),
columns=cols)
df

   usia
0    19
1    23
2     6
3    33
4    72
5    73
6    93
7    71
8    75
9    85

In [11]:
df['kelompok_usia' ] = pd.cut(df['usia'],
                        bins = [0, 18, 65, 99],
                        labels = ['anak', 'dewasa', 'manula'])
df

   usia kelompok_usia
0    19        dewasa
1    23        dewasa
2     6          anak
3    33        dewasa
4    72        manula
5    73        manula
6    93        manula
7    71        manula
8    75        manula
9    85        manula